#main{
    padding: 30px;    
}

#user_login_logout{
    position: absolute;
    right: 80px;
    top: 80px
}

/* table div */
#table-content{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

#Task-Table{
    text-align: center;
    display: inline-block;
    border: solid black;
}

#Task-Table th, #Task-Table td {
    padding: 10px;
    border: solid black;
    user-select: none;
    cursor: pointer;

}

#Task-Table tr:not(:first-child):hover{
    background-color: grey;
    cursor: pointer;
}

#task-tab-table{
    border: solid black;
}