<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
    <script defer src="{% static 'Task_Manager_app/script.js'  %}"></script>
    <link rel="stylesheet" href="{% static 'Task_Manager_app/style.css'  %}" />
</head>
<body>
    {{ request.user.id|json_script:"user_id" }}
    <div id="main">
        <div id="top-banner">
            <h1 id="site-name">Task Manager</h1>
            <hr>
            <div id="user_login_logout">
                {% if request.user.is_authenticated %}
                <p id="username">Hello {{ request.user.username }}</p>
                <a href="{% url 'logout' %}" id="Logout-button-link"><button>Logout</button></a>
                {% else %}
                <p id="username">Hello Guest</p>
                <a href="{% url 'login' %}"><button>Login</button></a>
                {% endif %}
            </div>
        </div>
        <div id="content">
        {% block content %}

        {% endblock %}
        </div>
    </div>
</body>
</html>