{% extends "./base.html" %}
{% block content %}

<h1>Task Manager</h1>

<div id="table-content">
    <table id="Task-Table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Category
            </th>
            <th>
                Tag
            </th>
        </tr>
    </table>
</div>
<div id="create-element">
    {{ form.as_p }}
    <button id="Create_button">Create Task</button>
</div>

<div id="task-info-tab">

</div>
{% endblock %}
